* {
	padding: 5px;
}

.folder {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	cursor: pointer;
}

.tab {
	display: inline-block;
	margin-left: 4rem;
}

.folder:hover {
	background-color: #f1f1f1;
}
